<html>
    <head>
        <title>Workout Trainer</title>
        <link rel="stylesheet" href="{{ base_url }}/static/bootstrap.min.css">
        <style>
        small
        {
            display: block;
        }
        </style>
    </head>

    <body>
        <div class="container">
        {% for route, workout in workouts.items() %}
        <a href="{{ base_url }}/{{ route }}">
        <h1>{{ workout['name'] }}
            <small>{{ workout['duration'] }}</small>
        </h1>
        </a>
        {% endfor %}
        </div>
    </body>
</html>
