<html>
    <head>
        <title>{{ workout['name'] }}</title>
        <link rel="stylesheet" href="{{ base_url }}/static/bootstrap.min.css">
        <style>
        #content
        {
            padding: 0px;
        }
        #main_panel
        {
            padding: 20px;
        }
        #info
        {
            padding: 20px;
            overflow-y: auto;
        }
        #timer
        {
            font-size: 20vw;
            text-align: center;
            width: 100%;
        }
        #title
        {
            font-size: 5vw;
            text-align: center;
            width: 100%;
            line-height: 5vw;
        }
        #start, #stop
        {
            width: 100%;
            padding: 15px;
            font-size: 5vw;
        }
        ul#exercise_list
        {
            padding: 0px;
        }
        ul#exercise_list li
        {
            list-style-type: none;
            padding: 15px 0px;
            text-align: center;
            margin: 0;
        }
        @media screen and (min-width: 320px) and (max-width: 480px) {
            ul#exercise_list li
            {
                font-size: 4vw;
            }
        }
        @media screen and (max-width: 1200px) {
            #title
            {
                font-size: 8vw;
                text-align: center;
                width: 100%;
                line-height: 8vw;
            }
            ul#exercise_list li
            {
                font-size: 6vw;
            }
            #start
            {
                margin-bottom: 30px;
            }
            #start, #stop
            {
                font-size: 6vw;
            }
        }
        @media screen and (min-width: 1200px)
        {
            #info
            {
                height: 100%;
            }
            ul#exercise_list li
            {
                font-size: 2vw;
            }
        }
        </style>
    </head>

    <body id="body">
        <div id="content" class="container">
            <div id="main_panel" class="col-md-9">
                <div class="col-md-6">
                    <button id="start" class="btn">Start</button>
                </div>
                <div class="col-md-6">
                    <button id="stop" class="btn">Pause</button>
                </div>
                <div id="timer">00:00</div>
                <div id="title"></div>
            </div>
            <hr class="hidden-md hidden-lg"/>
            <div id="info" class="col-md-3">
                <ul id="exercise_list"></ul>
            </div>
        </div>

        <script src="{{ base_url }}/static/howler.min.js"></script>
        <script>
        function Timer(elm_id) {
            var self = this;
            self.elm = document.getElementById(elm_id);
            self.running = false;
            self.paused = false;
            self.remaining = 0;
            self.timeout_id = 0;
        };

        Timer.prototype = {
            update: function() {
                var self = this;
                console.log("Time Update: " + self.remaining)
                var minutes = Math.floor(self.remaining / 60);
                var seconds = Math.floor(((self.remaining / 60) % 1) * 60);
                self.elm.textContent = (
                    (minutes > 9 ? minutes : "0" + minutes) + ":" +
                    (seconds > 9 ? seconds : "0" + seconds)
                );
            },

            run: function(duration, completed_cb) {
                var self = this;
                if (self.running) {
                    console.log("Tried to start running timer");
                }
                else
                {
                    self.running = true;
                    self.remaining = duration;
                    self.step(duration, completed_cb);
                }
            },

            step: function(remaining, completed_cb) {
                var self = this;
                self.remaining = remaining
                // save callback in case we pause, we'll have to pass it back in
                self.completed_cb = completed_cb
                self.update()
                if (remaining > 0) {
                    self.timeout_id = window.setTimeout(
                        () => { self.step(remaining - 1, completed_cb) },
                        1000
                    );
                }
                else {
                    // Mark that we've finished running
                    self.running = false;
                    completed_cb()
                }
            },

            pause: function() {
                var self = this;
                self.paused = true;
                window.clearTimeout(self.timeout_id)
            },

            resume: function() {
                var self = this;
                self.paused = false;
                self.step(self.remaining, self.completed_cb)
            },

            reset: function() {
                var self = this;
                self.paused = false;
                self.running = false;
                self.remaining = 0;
                self.comlpeted_cb = null;
                self.update();
            }
        }
        </script>
        <script>
        function Workout(exercises) {
            var self = this;
            console.log("New workout")
            console.log(exercises)
            self.exercises = exercises;
            self.curr_index = 0;

            // Preload sound files
            self.stock_sounds = {
                "begin": new Howl({src: ['{{ base_url }}/static/audio/Begin.mp3']}),
                "rest": new Howl({src: ['{{ base_url }}/static/audio/Rest.mp3']}),
                "next": new Howl({src: ['{{ base_url }}/static/audio/Next_Up.mp3']}),
                "switch": new Howl({src: ['{{ base_url }}/static/audio/Switch_Sides.mp3']}),
                "continue": new Howl({src: ['{{ base_url }}/static/audio/Continue.mp3']}),
                "complete": new Howl({src: ['{{ base_url }}/static/audio/Workout_Complete.mp3']}),
            }
            self.sounds = [];
            self.exercises.forEach(function(exercise, index) {
                self.sounds.push(new Howl({
                    src: ['{{ base_url }}/static/audio/' + exercise['audio_file']],
                }));
            });
        };

        Workout.prototype = {
            run_rest: function(index) {
                console.log("run_rest")
                var self = this;
                if (index == (self.exercises.length - 1)) {
                    self.stock_sounds["complete"].play();
                    elms["body"].style.background = "limegreen";
                    elms["title"].textContent = "Workout Complete!"
                }
                else {
                    // Change background color
                    elms["body"].style.background = "cornflowerblue";

                    // Announce the next exercise and schedule it
                    var sound = new Howl({
                        src: ['{{ base_url }}/static/audio/Next_Up.mp3'],
                        onend: () => { self.sounds[index + 1].play() },
                    })
                    sound.play()
                    elms["title"].textContent = "Next Up: " + self.exercises[index + 1]['name']
                    timer.run(self.exercises[index]["rest"], () => {
                        self.run_exercise(index + 1)
                    });
                }
            },

            run_switch_rest: function(index, switch_count) {
                console.log("run_switch_rest")
                var self = this;
                let exercise = self.exercises[index];
                elms["body"].style.background = "red";

                self.stock_sounds['switch'].play()
                timer.run(exercise["switch_rest"], () => {
                    self.run_switch(index, switch_count + 1)
                });
            },

            run_switch: function(index, switch_count) {
                console.log("run_switch")
                var self = this;
                let exercise = self.exercises[index];
                let duration = exercise['duration'] / (exercise['switches'] + 1)
                elms["body"].style.background = "orange";

                if (switch_count < exercise['switches']) {
                    timer.run(duration, () => {
                        self.run_switch_rest(index, switch_count)
                    })
                }
                else {
                    // Go to the rest for this exercise
                    timer.run(duration, () => {
                        self.run_rest(index);
                    })
                }

                self.sounds[index].play();
            },

            run_exercise: function(index) {
                var self = this;
                if (index >= self.exercises.length) {
                    console.log("Done");
                    self.curr_index = 0;
                    return;
                }

                let exercise = self.exercises[index];
                self.curr_index = index;

                elms["body"].style.background = "orange";
                // Start the timer (do this first because reading the audio takes time)
                if (exercise['switches'] > 0) {
                    let duration = exercise['duration'] / (exercise['switches'] + 1)
                    timer.run(duration, () => {
                        self.run_switch_rest(index, 0)
                    })
                }
                else {
                    timer.run(exercise['duration'], () => {
                        self.run_rest(index)
                    })
                }

                // Trigger the beginning of the exercise
                console.log(exercise);
                elms["title"].textContent = exercise["name"]
                sound = self.sounds[index]
                sound.play();
            },

            start: function() {
                var self = this;
                self.run_exercise(0);
            },
        };
        </script>
        <script>
        var workout = new Workout({{ workout['exercises'] }});
        var timer = null;
        var elms = {};
        var curr_timer_id = 0;

        window.onload = function() {
            var id_list = ["body", "start", "stop", "exercise_list", "title"];
            id_list.forEach((elm_id) => {
                elms[elm_id] = document.getElementById(elm_id);
            });

            timer = new Timer("timer");

            elms["start"].onclick = () => {
                if (timer.paused) {
                    timer.resume();
                    elms["body"].style.background = "orange";
                    elms["start"].textContent = "Start";
                    elms["stop"].textContent = "Pause";
                }
                else {
                    workout.start();
                }
            };

            elms["stop"].onclick = () => {
                if (!timer.paused) {
                    timer.pause();
                    elms["body"].style.background = "coral";
                    elms["start"].textContent = "Resume";
                    elms["stop"].textContent = "Reset";
                }
                else {
                    timer.reset();
                    elms["body"].style.background = "white";
                    elms["start"].textContent = "Start";
                    elms["stop"].textContent = "Pause";
                    elms["title"].textContent = "";
                }
            };

            workout.exercises.forEach((exercise, index) => {
                elms["exercise_list"].innerHTML += "<li>" + exercise["name"] + "</li>";
            });
        }
        </script>
    </body>
</html>
